# Apache .htaccess for when using a real web server
# All requests go through index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/uploads/
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
